In [119]:
import pandas as pd
import os

In [120]:
def create_df_from_zoom(path:str, date:str):
    # print(path)
    with open(path) as file:
        lines = file.readlines()

    lst_date = []
    lst_time = []
    lst_author = []
    lst_cont = []
    time = ""
    author = ""
    
    for line in lines:
        if line.startswith("\t"):
            lst_date.append(date)
            lst_time.append(time)
            lst_author.append(author)
            lst_cont.append(line)
            # print(line)
        else: 
            info = line.split(" ")
            author = info[2]
            time = info[0]

    df = pd.DataFrame({
        "Date":lst_date,
        "Time":lst_time,
        "Author":lst_author,
        "Content":lst_cont
        })
    # print(zoom.shape)
    # zoom.head()
    return df

In [121]:
cwd = os.getcwd()
data_path = cwd + "/" + "data/Zoom"
children = os.listdir(data_path)
# print(children)
lst_zoom = []
for child in children:
    # print(child)
    date = child.split(" ")[0]
    # print(date)
    file = os.listdir(data_path + "/" + child)[0]
    # print(file)
    path = data_path + "/" + child + "/" + file

    # print(path)
    lst_zoom.append(create_df_from_zoom(path, date))

len(lst_zoom)
lst_zoom[0]

,Date,Time,Author,Content
0,2022-11-10,15:31:08,AI_15_선우준,\tㅋㅋㅋ감사합니다\n
1,2022-11-10,15:31:22,AI_15_전지원,\t준님 말고 공주님 말한건데..\n
2,2022-11-10,15:31:23,AI_15_선우준,\t아 주님인가요?\n
3,2022-11-10,15:31:26,AI_15_전지원,\t바보..\n
4,2022-11-10,15:31:26,AI_15_배한석,\tㅋㅋㅋㅋㅋㅋㅋ\n
...,...,...,...,...
424,2022-11-10,17:16:16,AI_15_오아름,\t감사합니다!\n
425,2022-11-10,17:16:18,AI_15_이상필,\t3은... 좀 무리인것 같았지만... 지금 느낌상으로는.. 3 인것 같은 느낌!...
426,2022-11-10,17:16:31,AI_15_이상필,\t정말 감사합니다 코치님!!!!\n
427,2022-11-10,17:16:35,AI_15_이진우,\t저 죄송한데 미니배치 다시 한 번만 알려주실 수 있을까요?!\n
428,2022-11-10,17:16:37,AI_15_윤종률,\tsgd랑 gd에서 cpu와 gpu로 인한 병렬 관계 다시한번 듣고 싶어요\n

In [122]:
df_merge = pd.concat(lst_zoom)
df_merge.shape
df_merge.head()

         Date      Time     Author               Content
0  2022-11-10  15:31:08  AI_15_선우준          \tㅋㅋㅋ감사합니다\n
1  2022-11-10  15:31:22  AI_15_전지원  \t준님 말고 공주님 말한건데..\n
2  2022-11-10  15:31:23  AI_15_선우준          \t아 주님인가요?\n
3  2022-11-10  15:31:26  AI_15_전지원              \t바보..\n
4  2022-11-10  15:31:26  AI_15_배한석           \tㅋㅋㅋㅋㅋㅋㅋ\n

In [133]:
def preprocessing_zoom(df):
    df_copy = df.copy()
    # df_copy["Author"] = df_copy["Author"].str[:-5]
    # list_date = df_copy["Date"].str.split(" ")
    
    # df_copy["Date"] = list_date.str.get(0)
    df_copy["Date"] = pd.to_datetime(df_copy["Date"])
    # df_copy["Time"] = list_date.str.get(1)
    df_copy["Content"] = df_copy["Content"].str.replace("\t","")
    df_copy["Content"] = df_copy["Content"].str.replace("\n","")
    df_copy = df_copy[["Date","Time","Author","Content"]]
    df_copy.sort_values(by="Date", inplace=True)
    return df_copy

In [134]:
df_zoom = preprocessing_zoom(df_merge)
print(df_zoom.shape)
df_zoom.head()

(19262, 4)

          Date      Time     Author Content
64  2022-10-17  11:39:11  AI_15_임락균       1
128 2022-10-17  11:46:30  AI_15_전현아       1
129 2022-10-17  11:46:31  AI_15_이진우       1
130 2022-10-17  11:46:31   AI_15_공주       1
131 2022-10-17  11:46:32  AI_15_김경동       1

In [135]:
df_zoom["Author"].value_counts()

AI_15_전지원    2800
AI_15_이상필    2310
AI_15_이진우    1057
AI_15_윤종률     670
AI_15_공주      654
             ...
강태랑             3
AI_15_김재희       2
AI_15_최지성       1
ai_15_윤현욱       1
Code_채선아        1
Name: Author, Length: 77, dtype: int64

In [113]:
room_1 = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 공부방1.csv")
room_2 = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 공부방2.csv")
room_3 = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 공부방3.csv")
room_4 = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 공부방4.csv")
room_5 = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 공부방5.csv")
room_cafe = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 카공방.csv")
room_rest = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 휴식방.csv")
room_silent = pd.read_csv("data/Discord/AI_15_모각코 - 음성 채널 - 무소음실.csv")
room_1.head(10)

,AuthorID,Author,Date,Content,Attachments,Reactions
0,1001000083032117288,라뀨#9911,23-Aug-22 12:35 PM,기웃거리러왔는데,NaN,NaN
1,1001000083032117288,라뀨#9911,23-Aug-22 12:35 PM,아무것도 안뜨넹,NaN,NaN
2,1001000083032117288,라뀨#9911,23-Aug-22 12:35 PM,ㅋㅋㅋㅋㅋㅋㅋㅋㅋ,NaN,NaN
3,398107289812336654,나그네#3975,23-Aug-22 12:35 PM,엥!,NaN,NaN
4,381848856955977742,난밥#8055,23-Aug-22 09:07 PM,상필님 마이크랑 헤드폰 끄셨는데 일부러 끄신 거 맞나요?,NaN,NaN
5,495128528581296128,우리동네꼬꼬마#7516,23-Aug-22 09:09 PM,아,NaN,NaN
6,495128528581296128,우리동네꼬꼬마#7516,23-Aug-22 09:09 PM,아아아,NaN,NaN
7,554397309346119682,AI_15_이상필#0504,23-Aug-22 09:09 PM,아,NaN,NaN
8,554397309346119682,AI_15_이상필#0504,23-Aug-22 09:09 PM,네 .. ^^,NaN,NaN
9,554397309346119682,AI_15_이상필#0504,23-Aug-22 09:09 PM,와~~~~~~,NaN,NaN

In [114]:
print(room_1.shape, room_2.shape, room_3.shape, room_4.shape, room_5.shape, room_cafe.shape, room_rest.shape, room_silent.shape)

(14136, 6) (5342, 6) (28633, 6) (19782, 6) (22723, 6) (25900, 6) (27494, 6) (879, 6)

In [115]:
df_merge = pd.concat([room_1,room_2,room_3,room_4,room_5,room_cafe,room_rest,room_silent])
df_merge.shape

(144889, 6)

In [116]:
# df_merge["Date"].unique()
df_merge["Author"].value_counts()

라뀨#9911              19130
Journey#3889         17060
자몽짜머거#2776           14909
김동팔#6484             13948
크루져와인#9315           10728
우리동네꼬꼬마#7516         10625
나그네#3975              8860
난밥#8055               7932
AI_15_전현아#0019        4997
AI_15_이태섭#8329        4985
AI_15_이상필#0504        4386
AI_15_신희승#7484        3685
AI_15_이새벽#8548        3570
AI_15_김수영#7352        3094
AI_15_이도연#1456        2682
____#8216             2329
Vexera#8487           2170
heeeeho#4687          1821
AI_15_윤종률#4889        1450
AI_15_이진우#7960         910
toraise#9784           769
Jo Jun#1315            730
eros_n#3457            675
AI_15_송윤주#7330         619
FredBoat♪♪#7284        452
AI_15_강태랑#6363         322
흥이난다흥이나#4643           304
AI_15_선우준#3528         282
Sunyoung#5151          247
Kong#9789              244
Ai_15_최준영#5872         148
AI_15_윤예지#6533         124
AI_15_서관훈#1720         120
Al_15_장문정#4954         112
신동휘#0051                91
AI_15_남연우#2067          72
노래하는하리보#7558            63
arden#3691              55
AI_15_이세윤#8129          50
AI_15_박준영#6791          33
AI_15_김태수#8550          20
baek#2478               18
김성진#6401                16
두비두#5378                16
AI_15_송현석#5600          11
AI_15_김동규(B)#6700       10
AI_15_조윤성#8363           9
조조#2330                  4
AI_15_임철민#2382           2
Name: Author, dtype: int64

In [117]:
def preprocessing(df):
    df_copy = df.copy()
    df_copy["Author"] = df_copy["Author"].str[:-5]
    list_date = df_copy["Date"].str.split(" ")
    
    df_copy["Date"] = list_date.str.get(0)
    df_copy["Date"] = pd.to_datetime(df_copy["Date"])
    df_copy["Time"] = list_date.str.get(1)
    df_copy["Content"] = df_copy["Content"].str.replace("\t","")
    df_copy = df_copy[["Date","Time","Author","Content"]]
    df_copy.sort_values(by="Date", inplace=True)
    return df_copy

In [118]:
df_dc = preprocessing(df_merge)
print(df_dc.shape)
df_dc.head()

(144889, 4)

          Date   Time   Author                                       Content
554 2022-08-22  11:25    자몽짜머거                                        그렇군요..
406 2022-08-22  10:37  흥이난다흥이나                                            그냥
407 2022-08-22  10:37  흥이난다흥이나                                        알겠습니다~
408 2022-08-22  10:38       난밥                           분산도 다 더하고 n으로 나누듯이?
409 2022-08-22  10:38  toraise  목적함수는 1/m까지 포함하는데, 실제로 최적화할떄는 m값은 고려 안해도됩니다.

In [10]:
room_1_clean["Author"].unique()

array(['라뀨', '나그네', '난밥', '우리동네꼬꼬마', 'AI_15_이상필', 'AI_15_이태섭',
       'AI_15_윤예지', '김동팔', 'toraise', '크루져와인', '흥이난다흥이나', '조조', '자몽짜머거',
       'AI_15_이진우', 'AI_15_전현아', 'AI_15_송윤주', '노래하는하리보', 'AI_15_이도연',
       'AI_15_서관훈', 'heeeeho', 'eros_n', 'Journey', '____', 'AI_15_김태수',
       'Jo Jun', 'AI_15_김수영', 'Vexera', 'AI_15_선우준', 'AI_15_송현석',
       'Sunyoung', 'AI_15_윤종률', 'AI_15_남연우', 'AI_15_조윤성', 'AI_15_이새벽',
       'AI_15_강태랑', 'AI_15_신희승', 'arden', 'Al_15_장문정'], dtype=object)

In [38]:
sangfeel = room_1[room_1.Author == "AI_15_전지원"]
sangfeel.head(50)

Empty DataFrame
Columns: [AuthorID, Author, Date, Content, Attachments, Reactions]
Index: []

In [29]:
sangfeel.shape

(708, 6)